/*

body #181818

text #777

header #0d0d0d

border 1 #2b2b2b

border 2 #454545

green #14c208

card #1f1f1f

card hover #2b2b2b

gradient #35f235 #04e300

*/



/* scaffolding */

* {
	box-sizing: border-box;
}

:hover,
:active,
:focus {
	outline: none;
}

body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 1.5;
	color: #777;

	background: #181818;
}

.cover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1; /* < .nav */

	background: #000;

	opacity: 0.5;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

a,
a:hover,
a:active {
	color: #777;
	text-decoration: none;
}

ion-icon {
	margin-right: 5px;

	font-size: 18px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

@media (max-width: 1199px) {

	.container {
		width: 100%;
		margin: 0;
		padding: 0 20px;
	}

}

/**/



/* .header */

.header {
	margin-bottom: 20px;

	background: #0d0d0d;
	border-bottom: 1px solid #2b2b2b;
}

.header .container {
	display: flex;
	align-items: center;
	
	padding: 25px 0;
}

@media (max-width: 1199px) {

	.header .container {
		padding: 25px 20px;
	}

}

/**/



/* .logo */

.logo {
	position: relative; /* ™ */

	margin-right: 15px;

	font-size: 28px;
	letter-spacing: 10px;
	color: #14c208;
	text-transform: uppercase;
}

@media (max-width: 991px) {

	.logo {
		font-size: 24px;
	}

}

@media (max-width: 575px) {

	.logo {
		margin-right: 0;

		letter-spacing: 5px;
	}

}

.logo:hover {
	color: #14c208;
}

.logo:active {
	color: #14c20870;
}

/**/



/* .nav */

.nav {
	display: block;
}

.nav ul {
	display: flex;
}

.nav-link {
	display: block;
	padding: 10px 15px;
}

.nav-link:hover {
	color: #fff;
}

.nav-link:active {
	color: #ffffff30;
}

.nav-link ion-icon {
	display: none;
}

.nav-item.active .nav-link {
	color: #14c208;
}

@media (max-width: 991px) {

	.nav {
		position: absolute;
		top: 0;
		left: calc( (40% + 45px) / -1 );
		z-index: 3; /* > .cover */

		display: block;
		width: 40%;
		height: 100vh;
		padding-top: 95px;
		padding-left: 45px;

		background: #2b2b2b;
		box-shadow: 0 0 10px #00000090;

		transition: left 500ms ease;
	}

	.nav:after {
		content: "Razer";

		position: absolute;
		top: 0;
		left: 0;

		display: flex;
		align-items: center;
		height: 95px;
		padding-left: 45px;

		font-size: 24px;
		letter-spacing: 10px;
		color: #14c208;
		text-transform: uppercase;
	}

	.nav ul {
		display: block;
	}

	.nav-item {
		margin-bottom: 15px;
	}

	.nav-link {
		display: flex;
		align-items: center;
		padding: 10px 0;
	}

	.nav-link ion-icon {
		display: block;
		margin-right: 20px;
	}

	.nav-item.active .nav-link {
		border-right: 2px solid #14c208;
	}
}

@media (max-width: 767px) {

	.nav {
		left: calc( (70% - 20px + 45px) / -1 );

		width: calc(70% - 65px);
	}

}

@media (max-width: 575px) {

	.nav {
		left: calc( (100% - 20px + 45px) / -1 );

		width: calc(100% - 65px);
	}

	.nav:after {
		letter-spacing: 5px;
	}

}

.menu-toggler {
	position: relative;

	width: 45px;
	height: 45px;
	margin: 0;
	margin-left: -1px;
	padding: 0;

	background: none;
	border: 1px solid #2b2b2b;

	cursor: pointer;
}

@media (min-width: 992px) {

	.menu-toggler {
		display: none;
		margin: 0;
	}

}

.menu-toggler ion-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 24px;
	color: #777;
}

.menu-toggler.menu-open:hover {
	border-color: #fff;
}

.menu-toggler.menu-open:active {
	border-color: #ffffff30;
}

.menu-toggler.menu-open:hover ion-icon[name="menu"] {
	color: #fff;
}

.menu-toggler.menu-open:active ion-icon[name="menu"] {
	color: #ffffff30;
}

.menu-toggler.menu-close {
	position: absolute;
	top: 25px;
	right: -45px;
	z-index: 2;

	background: #2b2b2b;
	border: none;
}

.menu-toggler ion-icon[name="close"] {
	color: #fff;
}

.menu-toggler.menu-close:active ion-icon[name="close"] {
	color: #ffffff30;
}

/**/



/* .user-block */

.user-block {
	display: flex;
	align-items: center;
	margin-left: auto;
	height: 45px;
	margin-right: 10px;
	padding: 0 15px;

	border: 1px solid transparent;

	cursor: pointer;
}

.user-options {
	display: flex;
	align-items: center;
}

.user-block:hover {
	border-color: #2b2b2b;
}

@media (max-width: 767px) {

	.user-block {
		justify-content: center;
		width: 45px;
		margin-right: 10px;
		padding: 0;

		border-color: #2b2b2b;
	}

	.user-block:hover {
		border-color: #fff;
	}

	.user-block:active {
		border-color: #ffffff30;
	}

	.user-block:hover ion-icon {
		color: #fff;
	}

	.user-block:active ion-icon {
		color: #ffffff30;
	}

	.user-options ion-icon {
		margin: 0;

		font-size: 24px;
	}

	.greeting {
		display: none;
	}

}

.logout {
	font-weight: bold;
	color: #14c208;
}

.logout:hover {
	color: #14c208;
}

.logout:active {
	color: #14c20870;
}

/**/



/* .basket */

.basket {
	position: relative;
}

@media (max-width: 767px) {

	.basket {
		position: static;
	}

}

.basket-link {
	position: relative;
	z-index: 2;

	display: flex;
	align-items: center;
	height: 45px;
	padding: 0 15px;

	border: 1px solid transparent;
}

.basket-link:hover {
	border-color: #2b2b2b;
}

.basket-link:hover {
	color: #777;
}

.basket-link.active {
	border-color: #2b2b2b;
	border-bottom-color: #0d0d0d;
}

@media (max-width: 991px) {

	.basket {
		margin-right: 10px;
	}

}

@media (max-width: 991px) {

	.basket-link {
		position: relative;

		justify-content: center;
		width: 45px;
		padding: 0;

		border-color: #2b2b2b;
	}

	.basket-link:hover {
		border-color: #fff;
	}

	.basket-link:active {
		border-color: #ffffff30;
	}

	.basket-link:hover ion-icon {
		color: #fff;
	}

	.basket-link:active ion-icon {
		color: #ffffff30;
	}

	.basket-link ion-icon {
		margin: 0;

		font-size: 24px;
	}

	.basket-head {
		display: none;
	}

	.basket-cont {
		font-size: 0;
	}

	.i-amount.active {
		position: absolute;
		top: -4px;
		right: -4px;

		display: flex;
		justify-content: center;
		align-items: center;
		width: 16px;
		height: 16px;

		font-size: 12px;
		color: #fff !important;

		background: #14c208;
		border-radius: 50%;
	}

}

@media (max-width: 767px) {

	.basket-link.active {
		border-color: #14c208;
	}

	.basket-link.active ion-icon {
		color: #14c208;
	}

	.basket-link.active:hover {
		border-color: #14c208;
	}

	.basket-link.active:active {
		border-color: #14c208;
	}

}

.i-amount {
	font-weight: bold;
}

.i-amount.active {
	color: #14c208;
}

.shopping-cart {
	position: absolute;
	top: 44px;
	right: 0;
	z-index: 1;

	display: none;
	width: 430px;
	padding: 20px;

	background: #0d0d0d;
	border: 1px solid #2b2b2b;
}

@media (max-width: 767px) {

	.shopping-cart {
		top: 95px;
		right: 0;
		left: 0;
		z-index: 1;

		width: 100%;
	}

}

.shopping-cart table,
.shopping-cart tbody {
	display: block;
}

.shopping-cart tr {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 20px;

	border-bottom: 1px solid #2b2b2b;
}

.shopping-cart td {
	flex-shrink: 0;
}

.shopping-cart td:nth-child(1) {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75px;
	height: 75px;
	margin-right: 15px;

	border: 1px solid #2b2b2b;
}

@media (max-width: 399px) {

	.shopping-cart td:nth-child(1) {
		display: none;
	}

}

.shopping-cart td:nth-child(1) img {
	display: block;
	width: 100%;
	height: auto;
}

.shopping-cart td:nth-child(2) {
	flex-shrink: 1;
	margin-right: 45px;

	font-weight: bold;
	font-size: 12px;
	color: #fff;
	text-transform: uppercase;
}

.shopping-cart td:nth-child(3) {
	margin-right: 45px;
	margin-left: auto;

	font-weight: bold;
	font-size: 12px;
	color: #14c208;
}

.shopping-cart td:nth-child(4) ion-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 21px;
	height: 21px;
	margin: 0;

	cursor: pointer;
}

.shopping-cart td:nth-child(4) ion-icon:hover {
	color: #000;

	background: #14c208;
}

.shopping-cart td:nth-child(4) ion-icon:active {
	color: #00000070;
}

.i-order {
	display: flex;
	align-items: center;
}

.total {
	font-weight: bold;
}

.total-price,
.currency-ru {	
	font-weight: bold;
	font-size: 12px;
	color: #14c208;
}

.sc-btn-group {
	display: flex;
	margin-left: auto;
}

.remove-order {
	margin-right: 10px;
}

.btn.make-order {
	color: #000;

	background: linear-gradient(to bottom, #35f235, #04e300);
	border: none;
}

@media (max-width: 399px) {

	.i-order {
		flex-direction: column;
	}

	.sc-price-group {
		margin-bottom: 10px;
	}

	.sc-btn-group {
		margin: 0;
		display: flex;
	}

}

/**/



/* .breadcrumbs */

.breadcrumbs {
	display: flex;
	margin-bottom: 60px;
}

@media (max-width: 767px) {
	
	.breadcrumbs {
		justify-content: center;
	}
	
}

.breadcrumbs a {
	display: flex;

	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

.breadcrumbs a:hover {
	color: #fff;
}

.breadcrumbs a:active {
	color: #ffffff30;
}

.breadcrumbs a:after {
	content: ">";

	display: flex;
	justify-content: center;
	width: 20px;

	color: #14c208;
}

.breadcrumbs li:last-child a:after {
	display: none;
}

.breadcrumbs a.active {
	color: #fff;
}

/**/



/* .catalog-head */

.catalog-head {
	margin-bottom: 90px;

	text-align: center;
}

.site-section {
	display: block;

	font-weight: bold;
	font-size: 14px;
	color: #14c208;
	text-transform: uppercase;
}

.catalog-category {
	font-weight: 300;
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
}

/**/



/* .catalog-body */

.catalog-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 70px;

	border-bottom: 1px solid #2b2b2b;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc((25% - 25px) + 3px); /* 4 cards * 25px = 100px / 3 margin = 33px | 33px - 3px = 30px */
	margin-bottom: 30px;
	padding: 20px;

	text-align: center;

	background: #1f1f1f;

	cursor: pointer;
}

.card.flex-fix {
	margin: 0;
	padding: 0;

	visibility: hidden;
}

@media (max-width: 1199px) {

	.card {
		width: calc(33.3% - 20px); /* 3 cards * 20px = 60px / 2 margin = 30px */
	}

}

@media (max-width: 991px) {

	.card {
		width: calc(50% - 15px); /* 2 cards * 15px = 30px / 1 margin = 30px */
	}

}

@media (max-width: 575px) {

	.card {
		width: 100%;
	}

}

.card:hover {
	background: #2b2b2b;
}

.card:hover .card-cont {
	visibility: hidden;
}

.card:hover .card-name {
	visibility: visible;
}

.card:hover .card-l {
	display: flex;

	visibility: visible;
}

.card-img {
	width: auto;
	height: 160px;
	margin-bottom: 20px;
}

.card-cont {
	position: relative;

	flex-grow: 1;
	min-height: 170px;
}

.card-name {
	margin-bottom: 5px;

	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.card-price {
	display: block;
	margin-bottom: 15px;

	font-weight: bold;
	font-size: 12px;
	color: #14c208;
}

.card-descr {
	font-size: 14px;
}

.card-l {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: none;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;

	font-weight: 900;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #14c208;

	border: 1px solid #454545;
}

.btn:hover {
	color: #000;

	background: linear-gradient(to bottom, #35f235, #04e300);
	border: none;
}

.btn:active {
	color: #00000070;

	background: linear-gradient(to top, #35f235, #04e300);
}

.add-to-cart {
	margin-right: 10px;

	color: #000;

	background: linear-gradient(to bottom, #35f235, #04e300);
	border: none;
}

/**/



/* .footer */

.footer {
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
}

@media (max-width: 991px) {

	.footer {
		justify-content: center;
	}

}

.footer-i {
	width: calc((25% - 25px) + 3px);
}

@media (max-width: 991px) {

	.footer-i:not(:last-child) {
		display: none;
	}

	.footer-i:last-child {
		width: 100%;

		text-align: center;
	}

}

.footer-i h3 {
	margin-bottom: 10px;

	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
}

.footer-i li {
	margin-bottom: 5px;
}

.footer-i a:hover {
	color: #fff;
}

.footer-i a:active {
	color: #ffffff30;
}

.copyright {
	display: block;
	margin-bottom: 10px;
}

.copyright .to-main-site {
	font-weight: bold;
}

.copyright .to-main-site,
.copyright .to-main-site:hover {
	color: #14c208;
}

.copyright .to-main-site:active {
	color: #14c20870;
}

.social {
	display: flex;
}

@media (max-width: 991px) {

	.social {
		justify-content: center;
	}

}

.social li {
	margin-right: 10px;
}

.social a {
	position: relative;

	display: block;
	width: 45px;
	height: 45px;

	border: 1px solid #2b2b2b;
}

.social a:hover {
	border-color: #fff;
}

.social a:active {
	border-color: #ffffff30;
}

.social ion-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/**/