/*

body #181818

text #777

border 1 #2b2b2b

border 2 #454545

green #14c208

card #1f1f1f

card hover #2b2b2b

gradient #35f235 #04e300

*/



/* scaffolding */

* {
	box-sizing: border-box;
}

:hover,
:active,
:focus {
	outline: none;
}

body {
	min-width: 320px;
	margin: 0;
	padding: 0;

	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	line-height: 1.5;
	color: #777;

	background: #181818;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

a,
a:hover,
a:active {
	color: #777;
	text-decoration: none;
}

ion-icon {
	margin-right: 5px;

	font-size: 18px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

/**/



/* .header */

.header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding: 25px 0;

	border-bottom: 1px solid #2b2b2b;
}

/**/



/* .logo */

.logo {
	position: relative; /* ™ */

	margin-right: 15px;

	font-size: 28px;
	letter-spacing: 10px;
	color: #14c208;
	text-transform: uppercase;
}

.logo:hover {
	color: #14c208;
}

.logo:active {
	color: #14c20870;
}

.logo sup {
	position: absolute;
	top: 7px;
	right: -7px;

	font-size: 10px;
}

/**/



/* .nav */

.nav {
	display: flex;
}

.nav-link {
	display: block;
	padding: 10px 15px;
}

.nav-link:hover {
	color: #fff;
}

.nav-link:active {
	color: #ffffff30;
}

.nav-item.active .nav-link {
	color: #14c208;
}

/**/



/* .user-block */

.user-block {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding: 10px 15px;

	border: 1px solid transparent;

	cursor: pointer;
}

.user-block:hover {
	border-color: #2b2b2b;
}

.logout {
	font-weight: bold;
	color: #14c208;
}

.logout:hover {
	color: #14c208;
}

.logout:active {
	color: #14c20870;
}

/**/



/* .basket */

.basket-link {
	display: flex;
	align-items: center;
	margin-left: -1px;
	padding: 10px 15px;

	border: 1px solid transparent;
}

.basket-link:hover {
	border-color: #2b2b2b;
}

.basket-link:hover {
	color: #777;
}

.i-amount {
	font-weight: bold;
}

.i-amount.active {
	color: #14c208;
}

.shopping-cart {
	display: none;
}

/**/



/* .breadcrumbs */

.breadcrumbs {
	display: flex;
	margin-bottom: 60px;
}

.breadcrumbs a {
	display: flex;

	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}

.breadcrumbs a:after {
	content: ">";

	display: flex;
	justify-content: center;
	width: 20px;

	color: #14c208;
}

.breadcrumbs li:last-child a:after {
	display: none;
}

.breadcrumbs a.active {
	color: #fff;
}

/**/



/* .catalog-head */

.catalog-head {
	margin-bottom: 90px;

	text-align: center;
}

.site-section {
	display: block;

	font-weight: bold;
	font-size: 14px;
	color: #14c208;
	text-transform: uppercase;
}

.catalog-category {
	font-weight: 300;
	font-size: 36px;
	color: #fff;
	text-transform: uppercase;
}

/**/



/* .catalog-body */

.catalog-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	display: flex;
	flex-direction: column;
	width: calc(25% - 25px);
	margin-bottom: 30px;
	padding: 20px;

	text-align: center;

	background: #1f1f1f;

	cursor: pointer;
}

.card:hover {
	background: #2b2b2b;
}

.card:hover .card-cont {
	visibility: hidden;
}

.card:hover .card-l {
	display: flex;

	visibility: visible;
}

.card-img {
	max-width: 100%;
	max-height: 160px;
	margin-bottom: 20px;
}

.card-cont {
	position: relative;

	flex-grow: 1;
	min-height: 170px;
}

.card-name {
	margin-bottom: 5px;

	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
}

.card-price {
	display: block;
	margin-bottom: 15px;

	font-weight: bold;
	font-size: 12px;
	color: #14c208;
}

.card-descr {
	font-size: 14px;
}

.card-l {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: none;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 30px;

	font-weight: 900;
	font-size: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #14c208;

	border: 1px solid #454545;
}

.btn:hover {
	color: #000;

	background: linear-gradient(to bottom, #35f235, #04e300);
	border: none;
}

.btn:active {
	color: #00000070;

	background: linear-gradient(to top, #35f235, #04e300);
}

.add-to-cart {
	margin-right: 10px;

	color: #000;

	background: linear-gradient(to bottom, #35f235, #04e300);
	border: none;
}

/**/